.blue{
    bottom: 0px;
    position: absolute;
}

.yellow{
    width: 100%;
    top: 14%;
    position: absolute;
}

button{
    width: 200px;
    height: 50px;
}

.heroWrapper{
    position: absolute;
}