.blogWrapper{
    position: absolute;
    top: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.blogP{
    font-family: var(--font-secundaria);
    color: var(--blue);
}