.blogWrapper{
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.titleWrapper{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.titleWrapper h1{
    font-weight: 500;
}

.blogP{
    font-family: var(--font-secundaria);
    color: var(--blue);
}

.imagesWrapper{
    display: flex;
    gap: 150px;
}

.imagesWrapper div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.imagesWrapper p{
    font-family: var(--font-primaria);
    font-size: 25pt;
    color: var(--blue);
}