/* Carousel.css */
.carousel-container {
  width: calc(100vw - 200px); /* Remove os 200px (100px de cada lado) */
  max-width: 1200px; /* Mantém o limite máximo que você tinha */
  padding: 20px;
  position: absolute;
  bottom: 10%;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background: transparent;
  overflow: hidden;
}

.carousel-content {
  flex: 1;
  display: flex;
  gap: 10%;
  padding: 0 10px;
}

.carousel-image {
  flex: 1;
  height: 400px;
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background:transparent;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease;
  
}

.carousel-btn:hover {
  background:transparent;
  transform: translateY(-50%) scale(1.1);
}

.carousel-btn-left {
  left: -100px;
}

.carousel-btn-right {
  right: -100px;
}

/* Responsividade */
