/* Estilos base (desktop) */
nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
    z-index: 100;
    box-sizing: border-box;
}

/* Logo */
img {
    width: 300px;
    object-fit: contain;
}

/* navicon */
/* From Uiverse.io by JkHuger */ 
.label-check {
  display: none;
}

.hamburger-label {
  width: 70px;
  height: 58px;
  display: block;
  cursor: pointer;
}

.hamburger-label div {
  width: 70px;
  height: 6px;
  background-color: #000000;
  position: absolute;
}

.line1 {
  transition: all .3s;
}

.line2 {
  margin: 18px 0 0 0;
  transition: 0.3s;
}

.line3 {
  margin: 36px 0 0 0;
  transition: 0.3s;
}

#label-check:checked + .hamburger-label .line1 {
  transform: rotate(35deg) scaleX(.55) translate(39px, -4.5px);
  border-radius: 50px 50px 50px 0;
}

#label-check:checked + .hamburger-label .line3 {
  transform: rotate(-35deg) scaleX(.55) translate(39px, 4.5px);
  border-radius: 0 50px 50px 50px;
}

#label-check:checked + .hamburger-label .line2 {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 45px;
}

/* Tablets (768px - 1024px) */
@media screen and (max-width: 1024px) {
    nav {
        padding: 4%;
    }

    img {
        width: 250px;
        object-fit: contain;
    }

}

/* Tablets pequenos (481px - 768px) */
@media screen and (max-width: 768px) {
    nav {
        padding: 6%;
    }

    img {
        width: 220px;
        object-fit: contain;
    }

}

/* Mobile (até 480px) */
@media screen and (max-width: 480px) {
    nav {
        padding: 10%;
    }
}